<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>常见问题</title>
    <link rel="stylesheet" href="../../base/css/iconfont.css" />
    <link rel="stylesheet" href="../../base/css/base.css" />
    <link rel="stylesheet" href="../res/css/skin.css" />
    <link rel="stylesheet" href="../res/css/login.css" />
    <link rel="shortcut icon" type="image/ico" href="../res/images/favicon.ico">
</head>
<body class="other_body">
<div class="login_top">
    <div class="login_top_top">
        <div class="login_main_middle">
            <a class="ui-login-topbar-left" href="http://www.ouyeelf.com" rel="noopener noreferrer" target="_blank">
                <i class="iconfont">&#xe6bf;</i>
                <span>欧冶金服</span>
            </a>
            <ul class="g-right">
                <li class="g-left ui-login-topbar-item"><a class="capRegUrl" href="javascript:;" rel="noopener noreferrer" target="_blank">注册</a></li>
                <li class="g-left ui-head-dropdown ui-login-topbar-item">
                    <a href="javascript:;">业务导航</a>
                    <div class="ui-head-navigation">
                        <ul>
                            <li><a href="http://rz.ouyeelf.com/oyrz_finance_web" rel="noopener noreferrer" target="_blank">融资平台</a></li>
                            <li><a href="http://www.easternpay.com.cn" rel="noopener noreferrer" target="_blank">东方付通</a></li>
                            <li><a href="http://www.shdongchan.com" rel="noopener noreferrer" target="_blank">动产平台</a></li>
                            <li><a href="http://lc.ouyeelf.com" rel="noopener noreferrer" target="_blank">财富管理</a></li>
                        </ul>
                    </div>
                </li>
                <li class="g-left ui-login-topbar-item num"><i class="iconfont font16">&#xe61c;</i>4008201688、95025</li>
            </ul>
        </div>
    </div>
    <div class="login_top_bottom">
        <div class="login_main_middle">
            <a href="javascript:void(0);" class="login_logo">
                <img src="../res/images/login/login_logo.png" alt="">
            </a>
            <ul class="g-right ui-login-menu-item">
                <li class="g-login-navbar-left"><a href="login.html">首页</a></li>
                <li class="g-login-navbar-left" style="display:none"><a href="product-info.html">产品介绍</a></li>
                <li class="g-login-navbar-left"><a href="about-us.html">公司介绍</a></li>
                <li class="g-login-navbar-left"><a class="active" href="help.html">Q&A</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="help-banner">
    <div class="banner_bg">
        <div class="font_bg"></div>
    </div>
</div>
<!--问题中心-->
<div class="main-container">
    <div class="main-container-item">
        <div class="help-title clearBoth">
            <div class="title_bg g-left"></div>
            <div class="title-txt g-left">平台是否合规？</div>
        </div>
        <div class="help-content clearBoth">
            <div class="content_bg g-left"></div>
            <div class="content-txt g-left">通宝平台依托于产业链条中的核心企业付款信用，应用区块链技术将已确权的应收账款登记为可拆分、可持有、可流转的债权凭证。在通宝的流转、拆分、融资过程中，双方签署《债权转让协议》，符合《中华人民共和国合同法》第七十九条：“债权人可以将合同的权利全部或者部分转让给第三人“的规定。
            </div>
        </div>
    </div>
    <div class="main-container-item">
        <div class="help-title clearBoth">
            <div class="title_bg g-left"></div>
            <div class="title-txt g-left">怎样加入平台？</div>
        </div>
        <div class="help-content clearBoth">
            <div class="content_bg g-left"></div>
            <div class="content-txt g-left">
                <ul class="help-tabs clearBoth">
                    <li class="help-tabs-li help-tabs-li2  active">
                        <a href="javascript:;">核心企业</a>
                    </li>
                    <li class="help-tabs-li help-tabs-li2">
                        <a href="javascript:;">供应商</a>
                    </li>
                </ul>
                <div class="help-tabs-content">
                    <div class="help-tab-main2 clearBoth active" style="display: block;">
                        <div class="order-txt">
                            <span class="g-left line">1<div class="inLine"></div></span>
                            <div class="g-left">按照欧冶金服的要求，提供相关材料申请授信额度，并进行开户；</div>
                        </div>
                        <div class="order-txt">
                            <span class="g-left line">2<div class="inLine"></div></span>
                            <div class="g-left">线上阅读并同意《平台在线规则》；</div>
                        </div>
                        <div class="order-txt">
                            <span class="g-left">3</span>
                            <div class="g-left">与欧冶金服签订《平台合作协议》；</div>
                        </div>
                    </div>
                    <div class="help-tab-main2 clearBoth">
                        <div class="order-txt">
                            <span class="g-left line">1<div class="inLine"></div></span>
                            <div class="g-left">进行平台开户；</div>
                        </div>
                        <div class="order-txt">
                            <span class="g-left">2</span>
                            <div class="g-left">线上阅读并同意《平台在线规则》；</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container-item">
        <div class="help-title clearBoth">
            <div class="title_bg g-left"></div>
            <div class="title-txt g-left">通宝如何开立？</div>
        </div>
        <div class="help-content clearBoth">
            <div class="content_bg g-left"></div>
            <div class="content-txt g-left">开立方需向平台申请开立额度，同时需要在欧冶金服平台中进行CAP开户，开户完成后，在与接收方形成真实贸易背景并认可接收方已完成购销合同中约定的服务义务后，开立方便可进行通宝的开立。
            </div>
        </div>
    </div>
    <div class="main-container-item">
        <div class="help-title clearBoth">
            <div class="title_bg g-left"></div>
            <div class="title-txt g-left">通宝如何流转？</div>
        </div>
        <div class="help-content clearBoth">
            <div class="content_bg g-left"></div>
            <div class="content-txt g-left">平台用户获得通宝后，通过平台发起转让，待受让方同意接收通宝后，即完成通宝流转。
            </div>
        </div>
    </div>
    <div class="main-container-item">
        <div class="help-title clearBoth">
            <div class="title_bg g-left"></div>
            <div class="title-txt g-left">通宝如何融资？</div>
        </div>
        <div class="help-content clearBoth">
            <div class="content_bg g-left"></div>
            <div class="content-txt g-left">通宝持有者可通过平台向放款机构发起融资申请，金融机构审核无误后，放款至融资人银行账户或东方付通账户。
            </div>
        </div>
    </div>
    <div class="main-container-item">
        <div class="help-title clearBoth">
            <div class="title_bg g-left"></div>
            <div class="title-txt g-left">通宝如何结算？</div>
        </div>
        <div class="help-content clearBoth">
            <div class="content_bg g-left"></div>
            <div class="content-txt g-left">兑付日期前开立方需将兑付金额打款至东方付通账户，平台按最终持有者详情生成支付指令发送至东方付通，东方付通根据支付指令执行支付结算操作。付通根据支付指令完成结算后，通宝持有者可至东方付通自行进行提款。
            </div>
        </div>
    </div>
    <div class="main-container-item">
        <div class="help-title clearBoth">
            <div class="title_bg g-left"></div>
            <div class="title-txt g-left">财务记账有何调整？</div>
        </div>
        <div class="help-content clearBoth">
            <div class="content_bg g-left"></div>
            <div class="content-txt g-left">
                <ul class="help-tabs clearBoth">
                    <li class="help-tabs-li help-tabs-li1 active">
                        <a href="javascript:;">开立</a>
                    </li>
                    <li class="help-tabs-li help-tabs-li1">
                        <a href="javascript:;">流转</a>
                    </li>
                    <li class="help-tabs-li help-tabs-li1">
                        <a href="javascript:;">融资</a>
                    </li>
                    <li class="help-tabs-li help-tabs-li1">
                        <a href="javascript:;">兑付</a>
                    </li>
                </ul>
                <div class="help-tabs-content">
                    <div class="help-tab-main1 clearBoth active">
                        <div class="g-left w50">
                            <div class="inner-title">核心企业记账</div>
                            <div class="inner-txt">
                                <div>借：应付账款 - 供应商</div>
                                <div>贷：应付账款 - 通宝编号</div>
                                <div class="g-font12 w200">(凭证附件：核心企业与平台签订的平台服务协议)</div>
                            </div>
                        </div>
                        <div class="g-left w50">
                            <div class="inner-title">供应商记账</div>
                            <div class="inner-txt">
                                <div>借：应收账款 - 通宝编号</div>
                                <div>贷：应收账款 - 付款人</div>
                            </div>
                        </div>
                    </div>
                    <div class="help-tab-main1 clearBoth">
                        <div class="g-left w50">
                            <div class="inner-title">转出方记账</div>
                            <div class="inner-txt">
                                <div>借：应付账款 - 供应商</div>
                                <div>贷：应付账款 - 通宝编号</div>
                                <div class="g-font12 w200">(凭证附件：债权转让协议)</div>
                            </div>
                        </div>
                        <div class="g-left w50">
                            <div class="inner-title">受让方记账</div>
                            <div class="inner-txt">
                                <div>借：应收账款 - 通宝编号</div>
                                <div>贷：应收账款 - 付款人</div>
                            </div>
                        </div>
                    </div>
                    <div class="help-tab-main1 clearBoth">
                        <div class="g-left w50">
                            <div class="inner-title">融资企业记账</div>
                            <div class="inner-txt">
                                <div>借：银行存款 - 财务费用<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;管理费用-专业服务费<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;应交税费-应交增值税<br>
                                </div>
                                <div>贷：应收账款 - 通宝编号</div>
                                <div class="g-font12 w200">(凭证附件：贸易合同、融资机构开具的发票、平台收取服务费开具的发票)</div>
                            </div>
                        </div>
                    </div>
                    <div class="help-tab-main1 clearBoth">
                        <div class="g-left w50">
                            <div class="inner-title">核心企业记账</div>
                            <div class="inner-txt">
                                <div>借：应付账款 - 通宝编号<br>
                                </div>
                                <div>贷：银行存款 - 通宝编号</div>
                                <div class="g-font12 w200">(凭证附件：核心企业与平台签订的协议、银行回单)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container-item">
        <div class="help-title clearBoth">
            <div class="title_bg g-left"></div>
            <div class="title-txt g-left">收费模式？</div>
        </div>
        <div class="help-content clearBoth">
            <div class="content_bg g-left"></div>
            <div class="content-txt g-left">在平台中产生的发票验证费用由平台承担。在融资过程中产生的中登网登记费用由放款机构承担。具体收费标准以平台中操作显示为准。
            </div>
        </div>
    </div>
    <div class="main-container-item">
        <div class="help-title clearBoth">
            <div class="title_bg g-left"></div>
            <div class="title-txt g-left">税务处理？</div>
        </div>
        <div class="help-content clearBoth">
            <div class="content_bg g-left"></div>
            <div class="content-txt g-left">开立方与接收方基于购销合同使用通宝承诺未来付款，到期按平台上登记的最终持有通宝的债权人进行结算。因此，此环节税负不因使用通宝替代其他方式结算而有所变化。
                在三流合一问题上，结合《国家税务总局关于加强增值税征收管理若干问题的通知》，增值税资金流不仅包括银行存款、现金，还包括销售方取得的索取销售款项的凭据。
            </div>
        </div>
    </div>
    <div class="main-container-item">
        <div class="help-title clearBoth">
            <div class="title_bg g-left"></div>
            <div class="title-txt g-left">追索问题？</div>
        </div>
        <div class="help-content clearBoth">
            <div class="content_bg g-left"></div>
            <div class="content-txt g-left">通宝转让过程中，一旦受让方确认成功，即表明前手持有人已不再享有应收账款的权利，即不再对前手持有人进行追索，仅保留对开立方的追索权。但在转让过程中，若可证明原本被转让的通宝债权有瑕疵，可继续追索前手持有人。
            </div>
        </div>
    </div>

</div>
<div class="footer">

</div>
</body>
<script type="text/javascript" src="../../base/js/core/es5-shim.min.js"></script>
<script type="text/javascript" src="../../base/js/core/require.js"></script>
<script type="text/javascript" src="../../base/js/base.config.js"></script>
<!--<script type="text/javascript" src="../res/js/basic/login.js"></script>-->
<script type="text/javascript" src="../res/js/basic/help.js"></script>
<script type="text/javascript" src="../res/js/basic/outPage.js"></script>
</html>