<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>债权转让协议</title>
    <link rel="stylesheet" href="../../base/css/iconfont.css"/>
    <link rel="stylesheet" href="../../base/css/base.css"/>
    <link rel="stylesheet" href="../../base/css/module.css"/>
    <link rel="stylesheet" href="../res/css/skin.css"/>
    <link rel="stylesheet" href="../res/css/data-page.css"/>
</head>
<body class="g-navbar-fixed">
<div class="g-navbar g-navbar-fixed-top">
</div>
<div class="g-page-container">
    <div class="ui-menu ui-menu-bg"></div>
    <div class="g-page-main page-demo platformContracts">
        <div class="g-pagetop-tab">
            <ul>
                <li class="mar-right-20"><a href="javascript:;" class="active">债权转让协议</a></li>
                <div class="clear"></div>
            </ul>
        </div>


        <div class="g-container">
            <div class="g-row g-search ">
<!--                <div class="g-left g-in-search">-->
<!--                    <div class="g-form-group">-->
<!--                        <label class="g-left col40">转出方：</label>-->
<!--                        <div class="g-left">-->
<!--                            <input type="text" id="transferorCompanyName" name="transferorCompanyName" class="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="g-left">
                    <div class="g-form-group">
                        <label class="col40 g-left">签收日期：</label>
                        <div class="g-left">
                            <span class="g-input-icon-right g-left">
                                <input type="text" class="date" readonly="readonly" id="js-calender-start" placeholder="">
                                <i class="iconfont g-input-icon-date">&#xe67f;</i>
                            </span>
                            <span class="g-input-line col60">—</span>
                            <span class=" g-input-icon-right g-left">
                                <input type="text" placeholder=" " readonly="readonly" value="" class="date"
                                          id="js-calender-stop">
                                <i class="iconfont g-input-icon-date">&#xe67f;</i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="g-left g-in-search">
                    <div class="g-form-group">
                        <label class="g-left col40">受让方：</label>
                        <div class="g-left">
                            <input type="text" id="transfereeCompanyName" name="transfereeCompanyName" class="">
                        </div>
                    </div>
                </div>
                <div class="g-left g-in-search">
                    <div class="g-form-group">
                        <label class="g-left col40">转让编号：</label>
                        <div class="g-left">
                            <input type="text" id="billNo" name="billNo" class="">
                        </div>
                    </div>
                </div>
                <div class="g-right">
                    <div class="g-form-group">
                        <a href="javascript:;" class="ui-button ui-search-button ui-btn-primary g-right">查询</a>
                    </div>
                </div>
            </div>

            <table class="g-table">
                <thead>
                <tr>
                    <th width="15%">转让编号</th>
                    <th width="23%">转出方</th>
                    <th width="22%">受让方</th>
                    <th width="13%">签收时间</th>
                    <th width="12%">操作</th>
                </tr>
                </thead>
                <tbody class="notice-tbody-content">
                <!--表格加载位置-->
                    <!--<tr>-->
                        <!--<td align="center">Z18082173747</td>-->
                        <!--<td align="center">运钢网测试账号</td>-->
                        <!--<td align="center">供应商三</td>-->
                        <!--<td align="center">2018-08-21</td>-->
                        <!--<td align="center">-->
                            <!--<a href="javascript:;" class="preview" target="_blank">查看</a>-->
                            <!--<a href="javascript:;" class="download" target="_blank">下载</a>-->
                        <!--</td>-->
                    <!--</tr>-->


                </tbody>
            </table>

            <div class="g-table-bottom">
                <div class="g-right">
                    <div id="page"></div>
                    <div class="mar-left-5 page-content">
                        共<span class="pageTotal"></span>条记录 共<span class="pageCount"></span>页
                    </div>
                </div>
                <div class="g-clear"></div>
            </div>

        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../../base/js/core/es5-shim.min.js"></script>
<script type="text/javascript" src="../../base/js/core/require.js"></script>
<script type="text/javascript" src="../../base/js/base.config.js"></script>
<script>document.write("<script type='text/javascript' src='../res/js/basic/transferContracts.js?t=" + Date.now() + "'><\/script>");</script>
</html>