<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>转让协议</title>
    <link rel="stylesheet" href="../../base/css/iconfont.css"/>
    <link rel="stylesheet" href="../../base/css/base.css"/>
    <link rel="stylesheet" href="../../base/css/module.css"/>
    <link rel="stylesheet" href="../res/css/skin.css"/>
    <link rel="stylesheet" href="../res/css/data-page.css"/>
</head>
<body class="g-navbar-fixed contract">
<div class="g-navbar g-navbar-fixed-top">
</div>
<div class="ui-page-noshadow"></div>
<div class="g-page-container">
    <div class="top-fixed-tab">
        <ul class="g-bigTab">
            <li class="g-nav-tabs-li active"><a href="javascript:;">应收账款债权转让协议</a></li>
        </ul>
    </div>
    <div class="g-page-main-detail">
        <!--startprint1-->
        <div class="g-container">
            <div class="g-row">
                <div class="g-tabs">
                    <div class="g-tab-content">
                        <div class="g-tab-main active">
                            <div class="mar-top-20">
                                <table class="document-table" >
                                    <tbody>
                                    <tr><td class="g-text-center g-font22 pad-bottom-10 pad-top-10 g-bold">应收账款债权转让协议</td></tr>
                                    <tr><td class="g-bold g-text-right" style="padding: 5px 240px 5px 5px;">协议编号：<span class="batchNo"></span></td></tr>
                                    <tr><td class="g-bold">重要提示：</td></tr>
                                    <tr><td class="g-bold">1、本协议由甲乙双方通过数字证书在上海欧冶金融信息服务股份有限公司（以下简称“欧冶金服”）运营的平台（平台网址：https://tongbao.ouyeelf.com）在线签订，本协议具有合同法上的法律效力，双方均可登陆平台查阅、下载本协议文本。</td></tr>
                                    <tr><td class="g-bold">2、在签订本协议前，请甲乙双方务必审慎阅读本协议全部内容，如对本协议内容或页面提示信息有疑问，请勿进行下一步操作。双方通过平台页面使用数字证书点击确认即表示已充分理解并同意遵守本协议全部内容。</td></tr>
                                    <tr><td class="g-bold">3、本协议中涉及的相关名词概念，与双方在线阅读并同意的《平台在线规则》中的定义一致。</td></tr>
                                    <tr><td class="g-bold">4、欧冶金服作为平台经营者，为通宝业务提供技术支持、金融信息及运营管理等信息服务，但欧冶金服并不作为通宝的开立方、转出方、受让方或者融资机构。甲乙双方对于通宝的使用系双方基于与交易相对方之间真实债权债务关系而作出的独立判断和处分行为，欧冶金服不对通宝的兑付做任何承诺与保证，对此不承担任何责任。</td></tr>
                                    <tr><td style="line-height:20px;">&nbsp;</td></tr>
                                    <tr><td class="g-bold">转出方（以下简称甲方）：<span id="transferSide"></span></td></tr>
                                    <tr><td class="g-bold">统一社会信用代码：<span id="transferCode"></span></td></tr>
                                    <tr><td class="g-bold">或税号：<span id="transTaxNum"></span></td></tr>
                                    <tr><td class="">（统一社会信用代码与税号至少填写一个）</td></tr>
                                    <tr><td style="line-height:20px;">&nbsp;</td></tr>
                                    <tr><td class="g-bold">受让方（以下简称乙方）：<span id="receiveSide"></span></td></tr>
                                    <tr><td class="g-bold">统一社会信用代码：<span id="receiveCode"></span></td></tr>
                                    <tr><td class="g-bold">或税号：<span id="receiveTaxNum"></span></td></tr>
                                    <tr><td class="">（统一社会信用代码与税号至少填写一个）</td></tr>
                                    <tr><td style="line-height:20px;">&nbsp;</td></tr>
                                    <tr><td>根据《中华人民共和国合同法》及有关法律、法规，甲乙双方经平等协商一致，就应收账款债权转让事宜达成本协议。</td></tr>
                                    <tr><td class="g-bold">第一条	转让标的</td></tr>
                                    <tr><td>1、甲乙双方一致确认，基于甲方作为接收方与通宝开立方之间真实、合法的贸易合同关系，或甲方作为受让方，因销售商品或服务而受让的其贸易合同相对方转让的针对开立方的应收账款债权，甲方对通宝开立方享有合法有效、无争议的应收账款债权。</td></tr>
                                    <tr><td>2、甲乙双方一致确认，乙方在编号为<span class="underline contractNumber"></span>贸易合同项下的所有合同义务已经全部履行完毕，合同约定的付款条件已成就，且甲乙双方已对债权金额予以确认。在此基础上，甲方同意将其对通宝开立方所享有的债权份额（简称“原有债权份额”）的全部或部分，即人民币<span class="underline" id="transferNum"></span>元（大写：<span id="cn_transferNum" class="underline"></span>）（“标的债权”）及对应通宝转让给乙方。</td></tr>
                                    <tr><td>3、乙方同意受让标的债权及对应通宝，并接受以受让债权和通宝作为相关贸易合同项下甲方履行付款义务的方式。乙方签收通宝则表明其同意并认可其与甲方之间贸易合同项下的债务已经履行完毕，乙方不得再通过任何形式向甲方主张或追索已履行完毕的贸易合同项下的债务。</td></tr>
                                    <tr><td>4、标的债权基本情况如下：</td></tr>
                                    <tr>
                                        <td style="padding: 5px 20px;">
                                            <table width="100%" border="1" align="center" cellspacing="0" style="border-collapse: collapse;">
                                                <tbody id="list-content">
                                                <tr>
                                                    <td width="10%" align="center">序号</td>
                                                    <td width="15%" align="center">通宝编号</td>
                                                    <td width="20%" align="center">开立方</td>
                                                    <td width="20%" align="center">原有债权份额</td>
                                                    <td width="20%" align="center">转让金额</td>
                                                    <td width="15%" align="center">兑付日期</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr><td class="g-bold">第二条	承诺与保证</td></tr>
                                    <tr><td>1、甲乙双方签订和履行本协议已获得内部有权机构的充分授权和审批。</td></tr>
                                    <tr><td>2、甲方保证其转让的标的债权系真实、合法、有效，具有完全的处分权，不存在转让限制。甲方同时保证标的债权免遭任何第三人追索，其未将标的债权转让给乙方以外的任何第三人，也未利用标的债权向任何第三人进行融资。甲方未在标的债权上为任何第三人设定任何质权（无论是否存在应收账款质押登记）和其他优先受偿权。</td></tr>
                                    <tr><td>3、标的债权转让后，乙方获得标的债权的全部权利、利益；甲方不再享有标的债权的任何权利，但仍应继续履行相关贸易合同约定的甲方义务。如甲方收到通宝开立方支付的本协议项下标的债权对应的款项时，应主动转支付给乙方，否则甲方应赔偿乙方全部损失。</td></tr>
                                    <tr><td>4、乙方承诺其受让甲方所享有的标的债权和对应通宝，则视为甲方贸易合同项下基于转让金额的付款义务已履行完成。甲乙双方承诺不得以贸易合同项下任何合同义务未履行完毕为由，质疑通宝转让的效力。</td></tr>
                                    <tr><td>5、本协议生效后，甲方不可撤销地授权平台以站内信等方式通知通宝开立方（债权转让通知书样式参见本协议附件），站内信发送至开立方的账号，则视为债权转让通知书已经送达，开立方已经知晓该债权转让行为，并同意按照流转后的通宝所载明的信息如期向通宝受让方全额兑付。</td></tr>
                                    <tr><td>6、乙方承诺，自本协议生效后，自愿承担标的债权的清偿风险。</td></tr>
                                    <tr><td>7、平台不对通宝开立方的付款义务或任何形式的损害赔偿义务承担担保或保证责任。如果通宝开立方出现信用违约情况，可能无法于付款日获得相应应收款，从而致使通宝接受方或通宝受让方受到损失，平台不承担任何形式的责任。</td></tr>
                                    <tr><td class="g-bold">第三条	违约责任</td></tr>
                                    <tr><td>1、双方同意，任何一方违反本协议中所作的保证、承诺或任何其他义务，致使另一方遭受或发生损失的，违约方须赔偿守约方因此遭受的一切经济损失以及维权所支出的必要费用，必要费用包括但不限于律师费、诉讼费、保全费、差旅费等。</td></tr>
                                    <tr><td class="g-bold"> 第四条	其他</td></tr>
                                    <tr><td>1、本协议适用中华人民共和国法律。凡因本协议引起的或与协议有关的任何争议，甲乙双方协商解决。协商不成的，均应提交上海仲裁委员会按照该会仲裁规则进行仲裁。仲裁裁决是终局的，对双方均有约束力。争议期间，双方仍应继续履行本协议未涉争议的条款。</td></tr>
                                    <tr><td>2、<span class="g-bold">本协议自双方在平台中使用数字证书进行有效加签确认后生效，</span>至本协议项下全部标的债权到期付款完成之日终止。</td></tr>
                                    <tr><td class="g-bold clearBoth" style="border: 1px solid #000;padding-bottom:30px;"><div class="g-left">甲方电子签名：</div><span id="paySign" class="g-left"></span></td></tr>
                                    <tr><td class="g-bold" style="border: 1px solid #000;padding-bottom:30px;"><div class="g-left">乙方电子签名：</div><div id="receiveSign" class="g-left"></div></td></tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--endprint1-->
    </div>
    <div class="ui-page-confirm">
        <div class="col-xs-12 g-text-right">
            <button class="ui-button ui-btn-lg ui-btn-gray" onclick="javascript:window.close();">关闭</button>
        </div>
    </div>
</div>
</div>
</body>
<script type="text/javascript" src="../../base/js/core/es5-shim.min.js"></script>
<script type="text/javascript" src="../../base/js/core/require.js"></script>
<script type="text/javascript" src="../../base/js/base.config.js"></script>
<script>document.write("<script type='text/javascript' src='../res/js/basic/transferContract.js?t=" + Date.now() + "'><\/script>");</script>
</html>