<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>平台在线规则</title>
    <link rel="stylesheet" href="../../base/css/iconfont.css"/>
    <link rel="stylesheet" href="../../base/css/base.css"/>
    <link rel="stylesheet" href="../../base/css/module.css"/>
    <link rel="stylesheet" href="../res/css/skin.css"/>
    <link rel="stylesheet" href="../res/css/data-page.css"/>
</head>
<body class="g-navbar-fixed contract">
<div class="g-navbar g-navbar-fixed-top">
</div>
<div class="ui-page-noshadow"></div>
<div class="g-page-container">
    <div class="top-fixed-tab">
        <ul class="g-bigTab">
<!--            <li class="g-nav-tabs-li active"><a href="javascript:;">电子签名授权书</a></li>-->
            <li class="g-nav-tabs-li"><a href="javascript:;">平台在线规则</a></li>

        </ul>
    </div>
    <div class="g-page-main-detail">
        <!--startprint1-->
        <div class="g-container">
            <div class="g-row">
                <div class="g-tabs">
                    <div class="g-tab-content">
                        <div class="g-tab-main active">
                            <div class="mar-top-20">
                                <table class="document-table" >
                                    <tbody>
                                    <tr><td class="g-text-center g-font22 pad-bottom-10 pad-top-10 g-bold">平台在线规则</td></tr>
                                    <tr><td class="g-bold">重要提示：</td></tr>
                                    <tr><td class="g-bold">1、	本平台在线规则由您（亦称“用户”）通过数字证书与平台经营者（平台网址：https://tongbao.ouyeelf.com）上海欧冶金融信息服务股份有限公司（以下简称“欧冶金服”）通过平台在线缔结，具有合同法上的法律效力，请您务必审慎阅读本规则全部内容，尤其是字体加粗部分。如您对本规则内容或页面提示信息有疑问，请勿进行下一步操作并可向平台进行咨询。您通过平台页面使用数字证书点击“同意并继续”按钮即表示您已充分理解并同意遵守本规则全部内容。</td></tr>
                                    <tr><td class="g-bold">2、	本平台在线规则保存于平台的计算机系统中，平台有权对本规则进行不时修改并以网站公告等方式通知您。如您在本规则变更生效后仍继续使用平台通宝业务相关服务的，则视为您同意变更后的平台规则；若您无法同意变更修改后的规则内容，您应立即停止使用相关服务。</td></tr>
                                    <tr><td class="g-bold">3、  欧冶金服作为平台经营者，为通宝业务提供技术支持、金融信息及运营管理等服务，但欧冶金服并不作为通宝的开立方、转出方、受让方或者融资机构。您对于通宝的使用系您基于与交易相对方之间真实债权债务关系而作出的独立判断和处分行为，欧冶金服不对通宝的兑付做任何承诺与保证，对此不承担任何责任。</td></tr>
                                    <tr><td style="line-height:20px;">&nbsp;</td></tr>
                                    <tr><td align="center" class="g-bold g-font18">第一部分	总则</td></tr>
                                    <tr><td class="g-bold">第一条. 定义</td></tr>
                                    <tr><td>1、	平台：指欧冶金服及相关合作机构利用区块链等技术，开发并运营的专门用于办理通宝业务并提供通宝管理、流转、融资与资金结算等服务的互联网金融服务平台。</td></tr>
                                    <tr><td>2、	东方付通账户：指平台用户在第三方支付公司东方付通信息技术有限公司（以下简称“东方付通”）开立的支付账户，用于在平台办理通宝业务相关的资金收付结算等业务。</td></tr>
                                    <tr><td>3、	通宝：指开立方通过平台开立的，基于开立方与接收方之间真实贸易合同关系和债权债务关系的应收账款的债权凭证，可以进行拆分、流转、融资。</td></tr>
                                    <tr><td>4、	开立方：指因购买商品或服务而承担贸易合同项下付款义务，通过平台向接收方开立通宝，并承诺于兑付日对通宝接收方/受让方/最终持有人按照平台记录的通宝流转与持有情况无条件付款的应收账款债务人。</td></tr>
                                    <tr><td>5、	接收方：指通宝开立方的贸易合同相对方，因销售商品或服务而享有相关贸易合同项下的应收账款债权，通过平台取得开立方开立的通宝。</td></tr>
                                    <tr><td>6、	转出方：指持有通宝，并将通宝项下享有的对于开立方的债权，转让给与其具有真实贸易合同关系的供应商，作为相关贸易合同项下相应付款义务履行方式的企业。接收方转让通宝项下债权的，亦为“转出方”。</td></tr>
                                    <tr><td>7、	受让方：指与转出方签署贸易合同且已完全履行交付义务的相对方，同意通过通宝在平台的流转受让转出方转让的针对开立方的债权，视作转让方在相关贸易合同项下相应付款义务已履行。</td></tr>
                                    <tr><td>8、	开立金额：指经开立方和接收方确认，开立方根据其与接收方的贸易合同项下的应付账款金额选择于平台最终开立通宝的金额。</td></tr>
                                    <tr><td>9、	兑付日：指开立方根据自身付款情况，在开立通宝时设定的最终付款日期，原则上兑付日应早于开立方与接收方订立的贸易合同项下的付款日期，兑付日应为工作日。</td></tr>
                                    <tr><td>10、转让日：指转出方与受让方签订的《应收账款债权转让协议》的生效日期。</td></tr>
                                    <tr><td>11、转让金额：指转出方将持有的通宝转让给受让方时设定的金额，即债权转让的金额。</td></tr>
                                    <tr><td>12、最终持有人：指通宝流转过程中的最后一手，持有通宝并在兑付日前不再进行融资、转让的权利人。</td></tr>
                                    <tr><td>13、融资平台：指欧冶金服运营的在线金融服务系统（网址：https://rz.ouyeelf.com），可提供融资的申请、发放渠道及偿还本息等服务。</td></tr>
                                    <tr><td style="line-height:20px;">&nbsp;</td></tr>
                                    <tr><td align="center" class="g-bold g-font18">第二部分  流程</td></tr>
                                    <tr><td class="g-bold">第二条. 通宝的开立</td></tr>
                                    <tr><td>1、	开立方在与接收方形成真实贸易合同关系和债权债务关系，并认可接收方在相关合同中项下的服务/供货等所有合同义务已全部履行完毕，合同约定的付款条件已成就且开立方与接收方已对债权债务金额予以确认后，开立方可通过平台开立通宝。</td></tr>
                                    <tr><td>2、	开立方开立通宝后，接收方可以选择接收或拒收通宝。接收方选择接收通宝的，则可持有、流转通宝或发起融资；接收方选择拒收通宝的，则视为通宝开立失败。</td></tr>
                                    <tr><td>3、	开立方开立通宝后，开立方与接收方应当配合欧冶商业保理有限责任公司（以下简称“欧冶保理”）就通宝项下的应收账款债权在中国人民银行征信中心动产融资统一登记平台办理应收账款登记，并根据欧冶保理的要求配合提供应收账款所对应的合同、发票以及其他办理登记所必需的业务资料。平台其他用户对于前述应收账款登记安排均无异议，根据平台资金方的要求解除或变更前述登记的除外。</td></tr>
                                    <tr><td>4、	为保证通宝如期兑付，开立方在通宝开立阶段应当按照开立金额的<span class="underline" style="min-width: 50px;">0%</span>交纳保证金，保证金由东方付通托管。开立方同意在其逾期兑付通宝的情况下，欧冶金服有权要求东方付通直接划扣保证金，先行对通宝持有人进行兑付。如开立方退出平台交易、注销平台账号，剩余保证金由东方付通根据欧冶金服的指令无息返还。</td></tr>
                                    <tr><td>5、	通宝的开立方与接收方不得利用通宝业务的特点，通过伪造贸易合同、伪造物流与资金流业务材料、虚开发票等行为虚开通宝。如经平台查证，开立方与接收方基于上述虚假行为开立、接收通宝，则平台有权注销该通宝、暂停开立方和接收方的交易资格、没收保证金，并保留追究开立方和接收方相应的法律责任的权利。</td></tr>
                                    <tr><td>6、	通宝开立方与接收方通过平台开立、接收通宝时应遵循诚实信用原则，<span class="g-bold">通宝开立方应对其开立的通宝项下的贸易背景的真实性、合法性、有效性承担全部责任，并保证在平台提交的贸易背景资料及开立信息均真实、准确、完整</span>。此类信息包括但不限于基础贸易合同、单据与发票信息以及通宝开立方应平台要求提供的企业经营及财务状况、行业交易商品及贸易习惯等信息。平台将对通宝开立方提供的相关材料进行形式审查。</td></tr>
                                    <tr><td class="g-bold">第三条. 通宝的流转</td></tr>
                                    <tr><td>1、	转出方在与受让方形成真实贸易合同关系和债权债务关系，并认可受让方在相关合同中项下的服务/供货等所有合同义务已全部履行完毕，合同约定的付款条件已成就且转出方与受让方已对债权债务金额予以确认后，转出方可通过平台将持有的通宝转让给受让方，作为相关贸易合同项下付款义务的履行方式。</td></tr>
                                    <tr><td>2、	转出方转让通宝，需受让方在平台中进行确认并由转让方、受让方通过数字证书在线签订《应收账款债权转让协议》后方可生效。受让方可根据实际业务情况选择拒签通宝，则转让失败。</td></tr>
                                    <tr><td class="g-bold">3、通宝转让成功后，转出方授权平台生成债权转让通知并发送至开立方的平台账号。</td></tr>
                                    <tr><td>4、通宝受让方签收通宝则表明其同意并认可其与通宝转出方之间贸易合同项下的债务已经履行完毕，通宝受让方不得再通过任何形式向通宝转让方主张或追索已履行完毕的贸易合同项下的债务。	</td></tr>
                                    <tr><td>5、开立人同意通宝在流程过程中，平台可通过站内信的方式，向开立方送达通宝转出方的债权转让通知书。站内信发送至开立方的账号，则视为债权转让通知书已经送达，开立方已经知晓该债权转让行为，并同意按照流转后的通宝所载明的信息如期向通宝受让方全额兑付。	</td></tr>
                                    <tr><td>6、通宝转出方承诺<span class="g-bold">其与通宝接收方的贸易背景的真实性、合法性、有效性，并保证在平台提交的贸易背景资料及开立信息均真实、准确、完整</span>。在通宝转让成功后，通宝转出方与通宝受让方承诺不以贸易合同项下任何合同义务未履行完毕为由，否认债权转让的效力或提出任何抗辩。</td></tr>
                                    <tr><td class="g-bold">第四条. 通宝的融资</td></tr>
                                    <tr><td>1、	通宝持有者可使用通宝进行融资，通过平台选择融资机构，并根据融资机构的要求签订相应融资合同。<span class="g-bold">通宝持有者及平台用户授权平台将融资必要信息提供给融资机构，</span>同时按融资机构要求，提供相关必要材料。此类材料包括基础贸易合同、单据、发票信息以及融资机构就融资申请进行尽职审查过程中要求的其他材料。</td></tr>
                                    <tr><td class="g-bold">第五条. 通宝的兑付</td></tr>
                                    <tr><td>1、	开立方在兑付日前一工作日，将对应通宝开立金额的款项打款至其东方付通账户。开立方授权平台按最终持有人详情生成代扣支付指令发送至东方付通，东方付通根据支付指令自开立方东方付通账户进行资金代扣并执行支付结算等操作。</td></tr>
                                    <tr><td>2、<span class="g-bold">在开立方按时足额兑付的前提下，在兑付日后两个工作日内，最终持有人的东方付通账户可获得相应通宝兑付资金入账，</span>最终持有人可自行提现或通过绑定银行账户实现自动提现。同时，东方付通提供扣款详情回单至开立方，相应通宝项下债权债务关系清偿完成。</td></tr>
                                    <tr><td>3、欧冶金服作为平台经营者，为通宝业务提供技术支持、金融信息及运营管理等信息服务。平台不对通宝开立方的付款义务或任何形式的损害赔偿义务承担担保或保证责任。如果通宝开立方出现信用违约情况，可能无法于付款日获得相应应收款，从而致使通宝接收方或通宝受让方受到损失，通宝开立方承诺就上述付款义务及损害赔偿义务承担所有责任，平台不承担任何形式的责任。</td></tr>
                                    <tr><td align="center" class="g-bold g-font18">第三部分  权利与义务</td></tr>
                                    <tr><td class="g-bold">第六条. 权利与义务</td></tr>
                                    <tr><td>1、	用户有权使用平台通宝业务相关服务，但应遵守国家相关法律法规、本规则、平台网站不时公示的其他各项具体业务规则，并认可在平台中对通宝进行开立、转让、拆分、融资等行为的效力。</td></tr>
                                    <tr><td class="g-bold">2、	转出方保证其所享有的应收账款债权真实、合法、有效，且具有完全的处分权，不存在任何权利瑕疵。除通宝项下的应收账款债权转让外，转出方不存在利用贸易合同项下的应收账款进行重复转让、重复融资的行为，转出方进行重复转让、重复融资的债权转让行为对开立方、受让方均无效，相关债务及法律责任由转出方自行承担，与通宝项下各方无涉，通宝项下债权转让依然有效。</td></tr>
                                    <tr><td class="g-bold">3、	用户承诺在平台中进行通宝的转让、受让等行为，均基于真实、合法、有效的交易关系或债权债务关系。用户保证通过平台提交的用于办理通宝业务的相关贸易背景资料和文件的真实性、准确性和完整性，平台仅就用户提供的材料和文件进行形式审查，不承担尽职审核责任。</td></tr>
                                    <tr><td>4、	用户通过融资平台及东方付通等平台合作渠道办理通宝业务时，须遵守合作渠道的相关规定。</td></tr>
                                    <tr><td class="g-bold">5、	用户应妥善保管其平台账户、密码、数字证书等用于识别用户身份的信息要素，一切在平台中使用用户平台账户、密码、数字证书等进行的操作均代表用户公司行为，用户承担通过该等身份要素向平台发送的操作指令所带来的一切法律后果。</td></tr>
                                    <tr><td class="g-bold">6、	若用户发生违反本规则、平台网站不时公示的其他具体业务规则的行为或平台发现用户存在异常操作等平台认为有必要暂时中止用户使用平台服务的情形时，平台有权中止为用户提供平台及关联系统服务。</td></tr>
                                    <tr><td>7、	平台使用区块链技术，<span class="g-bold">用户授权平台在区块链中进行相应存证、记账等操作。</span></td></tr>
                                    <tr><td>8、	用户在平台中进行通宝开立、流转或融资时，需向平台支付相应平台服务费。<span class="g-bold">具体收费标准和方式以平台网站公示的规则或另行签订的合同约定为准。</span>平台合作融资机构根据其自身要求进行融资息费等费用收取。</td></tr>
                                    <tr><td>9、	平台有权根据业务发展情况对平台功能进行不时的调整或升级，并通过平台网站公告等方式向用户提供必要的解释与说明。</td></tr>
                                    <tr><td>10、平台保障及时、准确、完整地执行用户发起的通宝业务操作指令。但因不可抗力或非平台所能预见、避免、控制的事件导致平台无法正常提供通宝业务服务的，平台免于承担责任，但平台将采取合理行动积极促使服务恢复正常。</td></tr>
                                    <tr><td align="center" class="g-bold g-font18">第四部分 其他</td></tr>
                                    <tr><td class="g-bold">第七条. 其他条款</td></tr>
                                    <tr><td>1、	本平台在线规则的订立、效力、解释、履行及争议解决均适用中华人民共和国（为本合同之目的，不含香港特别行政区、澳门特别行政区和台湾地区）法律，如无相关法律规定，可参照商业惯例和/或行业习惯。</td></tr>
                                    <tr><td class="g-bold">2、	凡由本平台在线规则引起的平台用户与平台之间的争议和纠纷，争议方应协商解决，协商不成的，应提交上海仲裁委员会按照该会仲裁规则进行仲裁。仲裁裁决是终局的，对当事人均有约束力。</td></tr>
                                    <tr><td>3、	本平台在线规则由平台用户点击确认并生成有效的电子签名后生效，在法律法规允许的范围内，平台运营方享有最终解释权。</td></tr>


                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--endprint1-->
    </div>
    <div class="ui-page-confirm">

    </div>
</div>
</div>
<!--验签隐藏标签-->
<select id="CertList" name="CertList" class="g-hide" style="width:150px"></select>
<textarea name="txtToSign" cols="80" class="g-hide" rows="10" id="txtToSign"></textarea>
<textarea name="Signature" cols="80" class="g-hide" rows="10" id="Signature"></textarea>
<!--验签隐藏标签-->
</body>
<script type="text/javascript" src="../../base/js/core/es5-shim.min.js"></script>
<script type="text/javascript" src="../../base/js/core/require.js"></script>
<script type="text/javascript" src="../../base/js/base.config.js"></script>
<script>document.write("<script type='text/javascript' src='../res/js/basic/userAgreement.js?t=" + Date.now() + "'><\/script>");</script>
</html>