<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>债权转让通知书</title>
<meta name="author" content="635179674@qq.com" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="stylesheet" type="text/css" href="res/css/iconfont.css" />
<link rel="stylesheet" type="text/css" href="res/css/base.css" />
<link rel="stylesheet" type="text/css" href="res/css/easternpay-topbottom.css" />
<link rel="stylesheet" type="text/css" href="res/css/easternpay.css" />
</head>
<body>
    <!-- 页面头部 -->
    <div class="ui-eastenpay-head">
        <div class="ui-eastenpay-navbar">
            <div class="ui-eastenpay-navbar-main">
                <div class="ui-eastenpay-navbar-left">
                    <ul>
                        <li><a href="JavaScript:;" class="mar-right-10"><i class="iconfont">&#xe6bf;</i>欧冶金融</a><san class="line">|</san></li>
                        <li><a href="JavaScript:;" class="mar-left-10">东方付通</a></li>
                    </ul>
                </div>
                <div class="ui-eastenpay-navbar-right">
                    <ul>
                        <li><a href="JavaScript:;">注册</a></li>
                        <li><a href="JavaScript:;">登录</a></li>
                        <li class="ui-navbar-dropdown">
                            <a href="JavaScript:;">业务导航</a>
                            <ul class="ui-navbar-dropdown-box">
                                <li><a href="JavaScript:;">财富平台</a></li>
                                <li><a href="JavaScript:;">融资平台</a></li>
                                <li><a href="JavaScript:;">资产管理</a></li>
                                <li><a href="JavaScript:;">东方付通</a></li>
                            </ul>
                        </li>
                        <li><i class="iconfont">&#xe687;</i><em>400-820-1688</em><em class="mar-left-5 mar-right-5">|</em><em>95025</em></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="ui-eastenpay-menu">
            <div class="ui-eastenpay-menu-main">
                <div class="ui-eastenpay-logo">
                    <img src="res/images/logo-ouyeel.png" class="ui-logo-img" alt="" />
                    <span class="text">通宝支付收银台</span>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- 页面内容 -->
    <div class="ui-eastenpay-container">
        <!-- 页面内容 -->
        <div class="ui-eastenpay-content">
            <div class="ui-eastenpay-main pad-bottom-80">
               <div class="ui-eastenpay-contract-title mar-top-20">债权转让通知书</div>
               <div class="ui-eastenpay-contract-main">
                    <p class="text-indent mar-top-30 mar-bottom-10">通宝开立方XXXXX：</p>
                    <p class="text-indent">根据《中华人民共和国合同法》及相关法律法规的规定，我公司与                （简称“受让方”）通过平台（网址：http://tongbao.ouyeelf.com）于<span class="decoration" style="min-width:60px;">&nbsp;</span>年<span class="decoration" style="min-width:60px;">&nbsp;</span>月<span class="decoration" style="min-width:60px;">&nbsp;</span>日签订《应收账款债权转让协议》，将我公司对贵公司的应收账款债权的全部或部分（简称“标的债权”），即人民币<span class="decoration">&nbsp;</span>元（大写：<span class="decoration">&nbsp;</span>），依法转让给受让方，与此转让债权相关的其他权利也一并转让，清单如下：</p>
                    <div class="ui-eastenpay-contract-table">
                        <table>
                            <tr>
                                <td width="10%">序号</td>
                                <td width="30%">通宝编号</td>
                                <td width="30%">标的债权金额</td>
                                <td width="30%">兑付日期</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                        </table>
                    </div>
                    <p class="text-indent mar-top-10">请贵公司在本债权转让通知书发出后于兑付日期前履行上述标的债权的付款义务，支付至东方付通账户，通过东方付通完成资金结算。东方付通收款账户信息详见：</p>
                    <p class="text-indent ">https://www.easternpay.com.cn/dfft/zhcz.html</p>
                    <p class="text-indent">贵公司不得采取除上述以外的任何其他方式付款。</p>
                    <p class="text-indent">本债权转让通知书自平台通过站内信等方式送达贵公司平台账户即时生效。特此通知。</p>
                    <div class="ui-eastenpay-table-autograph mar-top-30">
                        <table >
                            <tr>
                              <td class="bold align-right">&nbsp;</td>
                              <td >&nbsp;</td>
                            </tr>
                            <tr>
                              <td width="71%" class="bold align-right">甲方电子签名：</td>
                                <td width="29%" >&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="bold align-right">日期：</td>
                                <td class="bold">&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                    </div>
               </div>
               
            </div>
            <div class="ui-eastenpay-submit">
                <div class="ui-eastenpay-submit-main">
                    <div class="right">
                        <label class="check-box "> 
                            <span class="check">
                                <input type="checkbox" class="ace" checked="checked">
                            </span>
                            <span class="mar-left-5">我已阅读以上内容 </span>
                        </label>
                        <a href="javascript:;" class="ui-eastenpay-btn ui-btn-next btn-red mar-left-20 ">下一步</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
