<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>通宝支付收银台-重新申请</title>
<meta name="author" content="635179674@qq.com" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="stylesheet" type="text/css" href="res/css/iconfont.css" />
<link rel="stylesheet" type="text/css" href="res/css/base.css" />
<link rel="stylesheet" type="text/css" href="res/css/easternpay-topbottom.css" />
<link rel="stylesheet" type="text/css" href="res/css/easternpay.css" />
</head>
<body class="ui-eastenpay-resultbody">
    <!-- 页面头部 -->
    <div class="ui-eastenpay-head">
        <div class="ui-eastenpay-navbar">
            <div class="ui-eastenpay-navbar-main">
                <div class="ui-eastenpay-navbar-left">
                    <ul>
                        <li><a href="JavaScript:;" class="mar-right-10"><i class="iconfont">&#xe6bf;</i>欧冶金融</a><san class="line">|</san></li>
                        <li><a href="JavaScript:;" class="mar-left-10">东方付通</a></li>
                    </ul>
                </div>
                <div class="ui-eastenpay-navbar-right">
                    <ul>
                        <li><a href="JavaScript:;">注册</a></li>
                        <li><a href="JavaScript:;">登录</a></li>
                        <li class="ui-navbar-dropdown">
                            <a href="JavaScript:;">业务导航</a>
                            <ul class="ui-navbar-dropdown-box">
                                <li><a href="JavaScript:;">财富平台</a></li>
                                <li><a href="JavaScript:;">融资平台</a></li>
                                <li><a href="JavaScript:;">资产管理</a></li>
                                <li><a href="JavaScript:;">东方付通</a></li>
                            </ul>
                        </li>
                        <li><i class="iconfont">&#xe687;</i><em>400-820-1688</em><em class="mar-left-5 mar-right-5">|</em><em>95025</em></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="ui-eastenpay-menu">
            <div class="ui-eastenpay-menu-main">
                <div class="ui-eastenpay-logo">
                    <img src="res/images/logo-ouyeel.png" class="ui-logo-img" alt="" />
                    <span class="text">通宝支付收银台</span>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- 页面内容 -->
    <div class="ui-eastenpay-container">
        <!-- 页面内容 -->
        <div class="ui-eastenpay-content">
            <div class="ui-eastenpay-main">
                <div class="ui-eastenpay-result ui-eastenpay-resubmit">
                    <p class="txt">
                        <i class="iconfont">&#xe613;</i><span>业务单据号：HT20190603382</span><span class="mar-left-10">订单金额：<em class="red bold">1223.99</em> 元</span>
                        <a href="JavaScript:;" class="mar-left-10">查看详情<i class="iconfont font18">&#xe696;</i></a>
                    </p>
                    <div class="relative">
                        <ul class="ui-eastenpay-resubmit-detail">
                            <li class="ui-eastenpay-resubmit-title">转让明细</li>
                            <li>
                                <div class="title">转让编号</div>
                                <div class="text">HT20190603382</div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="title">转让金额</div>
                                <div class="text"><em class="red bold">1223.99</em>元</div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="title">转让日期</div>
                                <div class="text">2019-06-11</div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="title">转让方</div>
                                <div class="text">采购客户采购客户A采购客户采购客户A采购客</div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="title">受让方</div>
                                <div class="text">采购客户采购客户A</div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="title">状态</div>
                                <div class="text">待提交</div>
                                <div class="clear"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="ui-eastenpay-result-btn">
                        <a href="JavaScript:;" class="btn-01 btn-resubmit mar-right-20">撤销</a>
                        <a href="easternpay-TbSelect.html" class="btn-02" >重新提交</a>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
    <div class="ui-eastenpay-footer">
        <p>Copyright2018 欧冶金服 版权所有 <a href="http://www.beian.miit.gov.cn/" target="_blank" class="mar-left-10" rel="nofollow noopener noreferrer">沪ICP备15016981号</a></p>
    </div>
</body>
</html>
