<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>授权委托书</title>
    <link rel="stylesheet" href="../../base/css/iconfont.css"/>
    <link rel="stylesheet" href="../../base/css/base.css"/>
    <link rel="stylesheet" href="../../base/css/module.css"/>
    <link rel="stylesheet" href="../res/css/skin.css"/>
    <link rel="stylesheet" href="../res/css/data-page.css"/>
</head>
<body class="g-navbar-fixed contract">
<div class="g-navbar g-navbar-fixed-top">
</div>
<div class="ui-page-noshadow"></div>
<div class="g-page-container">
    <div class="top-fixed-tab">
        <ul class="g-bigTab">
            <li class="g-nav-tabs-li isdownload"><a href="javascript:;">授权委托书</a></li>

        </ul>

    </div>
    <div class="g-page-main-detail">
        <!--startprint1-->
        <div class="g-container">
            <div class="g-row">
                <div class="g-tabs">
                    <div class="g-tab-content">
                        <div class="g-tab-main">
                            <div class="mar-top-20">
                                <table class="document-table" >
                                    <tbody>
                                    <tr><td class="g-text-center g-font22 pad-bottom-10 pad-top-10 g-bold">授权委托书</td></tr>
                                    <!--<tr><td class="g-bold g-right">协议编号：<span id="contract-num"></span></td></tr>-->
                                    <tr><td class="g-bold">上海欧冶金融信息服务股份有限公司：</td></tr>
                                    <tr><td>鉴于我司与贵司及建信融通有限责任公司（简称“建信融通”）共同开展网络供应链业务合作，通过贵司及建信融通向建设银行在线申请供应链融资，为简化开展上述业务所需材料的提交流程，我司现授权贵司将业务开展过程中我司向贵司提交的全部材料（包括但不限于企业名称、纳税人识别号、开票信息、收件信息、操作人员的姓名/证件类型/证件号码/手机号、应付账款信息、应付账款项下发票信息/合同信息、企业征信查询授权书、数字证书使用承诺函、营业执照影像件、法定代表人身份证影像件等）通过系统交互的方式传输至建信融通经营的供应链金融服务平台，以供建信融通开展上述业务合作使用。</td></tr>
                                    <tr><td>本次授权委托期限自本授权委托书出具之日起至上述网络供应链业务合作终止之日止。在授权委托期间，本授权委托书不可更改、不得撤销。</td></tr>
                                    <tr>
                                        <td style="padding:5px 15px; font-weight:bold; text-indent:2em;text-align: right;">授权人（公章）：<span class="js-customerName" style="border-bottom:1px solid #333; text-align:center; min-width:200px; display:inline-block; line-height:1; text-indent:0; padding:0 5px 5px;">&nbsp;</span></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; font-weight:bold; text-indent:2em;text-align: right;">法定代表人（签字或者盖章）：<span class="js-customerName" style="border-bottom:1px solid #333; text-align:center; min-width:200px; display:inline-block; line-height:1; text-indent:0; padding:0 5px 5px;">&nbsp;</span></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:2em; text-align:right;font-weight:bold;">日期：<span class="js-beginDate-year" style="border-bottom:1px solid #333; min-width:70px; display:inline-block; line-height:1; padding:0 5px 5px; text-align:center; text-indent:0;"></span>年<span class="js-beginDate-month" style="border-bottom:1px solid #333; min-width:44px; display:inline-block; line-height:1; padding:0 5px 5px; text-align:center; text-indent:0;"></span>月<span class="js-beginDate-day" style="border-bottom:1px solid #333; min-width:43px; display:inline-block; line-height:1; padding:0 5px 5px; text-align:center; text-indent:0;"></span>日</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
<!--                        <div class="g-tab-main">-->
<!--                            <div style=" margin: 40px auto; background: #fff;">-->
<!--                                <table width="100%" style="font-size: 14px; line-height: 2; border: 0; border-collapse: collapse;">-->
<!--                                    <tbody>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 10px; font-size: 22px; text-align: center;font-weight:bold;">代付业务服务协议-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; font-weight:bold; text-indent:2em;">甲方：<span-->
<!--                                                class="js-customerName"-->
<!--                                                style="border-bottom:1px solid #333; text-align:center; min-width:200px; display:inline-block; line-height:1; text-indent:0; padding:0 5px 5px;">东方付通信息技术有限公司&nbsp;</span>-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; text-indent:2em;">联系地址：<span style="margin-left:20px">上海市宝山区漠河路600号A座3楼</span></td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style=" line-height:20px;">&nbsp;</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; font-weight:bold; text-indent:2em;">乙方：<span id="yiAddress"-->
<!--                                                                                                                  style="border-bottom:1px solid #333; min-width:200px; text-align:center; display:inline-block; line-height:1; padding:0 5px 5px; text-indent:0;"></span>-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; text-indent:2em;">联系地址：<span  class="js-addressAndPostCode"-->
<!--                                                                                                   style="border-bottom:1px solid #333; text-align:center; min-width:200px; display:inline-block; line-height:1; padding:0 5px 5px; text-indent:0;">&nbsp;</span>-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style=" line-height:20px;">&nbsp;</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; text-indent:2em;">鉴于：</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; text-indent:2em;">-->
<!--                                            乙方在上海欧冶金融信息服务股份有限公司运营的平台（平台网址：https://tongbao.ouyeelf.com，简称平台）开展通宝业务，甲方为通宝业务提供支付服务的第三方支付公司。甲乙双方在遵循中华人民共和国相关法律法规、中国人民银行等国家机关、监管机构相关规定以及东方付通业务规则的前提下，在自愿、平等、互利的基础上，经友好协商，就开展付款业务达成一致，特签订本协议。-->
<!--                                        </td>-->
<!--                                    </tr>-->

<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; font-weight:bold; text-align:center;">第一条 合作内容</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; text-indent:2em;">-->
<!--                                            甲方向乙方提供代付业务，帮助乙方实现付款需求，乙方可通过甲方代付交易发起向指定东方付通账户的款项支付。</td>-->
<!--                                    </tr>-->

<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; font-weight:bold; text-align:center;">第二条 交易流程</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; text-indent:2em;">（一）账户开立：乙方应于本协议签署时，已注册为甲方会员，开立了东方付通账户。</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; text-indent:2em;">-->
<!--                                            （二）交易发起：基于通宝业务，乙方不可撤销地授权甲方根据平台的代付指令将乙方东方付通账户内资金付至指定收款方东方付通账户。甲方根据平台的付款指令，扣划乙方东方付通账户内的款项，并将交易处理结果反馈乙方和平台。-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; text-indent:2em;">（三）资金清算：代付资金T+0日进入收款方东方付通账户。</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; text-indent:2em;">（四）异常处理</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; text-indent:4em;">（1）甲、乙双方中任意一方发现代付异常事件时，应及时通知对方，并积极配合，共同实施应急处理。-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; text-indent:4em;">-->
<!--                                            （2）本协议所称代付异常事件是指非甲方操作人员差错导致的无法及时、准确划付乙方资金的情形，包含但不限于：外部支付系统故障，甲方系统故障，乙方付款资金未及时到账等原因导致甲方无法完成代付交易。-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; text-indent:4em;">-->
<!--                                            （3）代付异常事件导致甲方无法于约定时间完成付款的，由甲方于次工作日完成划付或由甲、乙及平台方协商解决方式。</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; font-weight:bold; text-align:center;">第三条 双方责任</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; text-indent:2em;">（一）甲方责任</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; text-indent:4em;">-->
<!--                                            （1）无异常事件发生时，甲方应保证支付的准确无误（与平台发送的付款指令一致）。甲方因操作人员工作差错错误支付的，由甲方负责差错调整。</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; text-indent:4em;">（2）代付异常事件发生时，甲方免于承担责任，但应及时告知乙方和平台方。</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; text-indent:4em;">-->
<!--                                            （3）因平台方提供代付指令不准确（包括但不限于指令错误、重复、缺失等）导致付款资金到账错误或延迟的，甲方不承担责任，乙方自行与平台方协商处理。</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; text-indent:2em;">（二）乙方责任</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; text-indent:4em;">-->
<!--                                            （1）乙方应如实向甲方提供相关经营资质资料，并在该资料发生变更后七个工作日内书面通知甲方，包括但不限于统一社会信用代码证、开户许可证、法定代表人身份证明、公司业务介绍、联系邮箱等，若从事国家规定专营、专控或需要取得国家前置行政许可的经营活动，还应提供该相关资质证照。乙方承担由于其所提供的资质材料不完整、不准确、不真实等情况而导致的经济和法律方面的责任。-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; text-indent:4em;">-->
<!--                                            （2）乙方应对付款用途真实性、合法性负责，且不得利用甲方提供的服务直接从事或间接协助任何形式的洗钱、套现、欺诈等违法、犯罪活动。如乙方违反上述条款，将由乙方承担由此产生的一切法律后果和经济损失。-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; text-indent:2em;">（三）免责条款</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; text-indent:4em;">-->
<!--                                            （1）由于不可抗力事件（包括但不限于战争、地震、火灾、支付系统故障等）引起的头寸不足、清算信息差错、延误等，双方均免于承担责任。</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; font-weight:bold; text-align:center;">第四条 违约责任</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; text-indent:2em;">-->
<!--                                            （一）除本协议另有约定外，任何一方违反本协议约定，守约方有权要求违约方在指定时间内纠正其违约行为；如违约方在指定时间内仍未纠正其违约行为，守约方有权单方解除本协议，并要求违约方赔偿经济损失。-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; font-weight:bold; text-align:center;">第五条 其他事项</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; text-indent:2em;">-->
<!--                                            （一）本协议自乙方使用数据证书在线点击确认之日起生效，除本协议另有约定外，乙方未以书面形式向甲方提出终止本协议的，本协议持续有效。</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td style="padding:5px 15px; text-indent:2em;">（二）本协议未明事项以双方签订的《东方付通互联网支付会员服务协议》为准。</td>-->
<!--                                    </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <!--endprint1-->
    </div>
<!--    <div class="ui-page-confirm">-->

<!--    </div>-->
</div>
</div>

</body>
<script type="text/javascript" src="../../base/js/core/es5-shim.min.js"></script>
<script type="text/javascript" src="../../base/js/core/require.js"></script>
<script type="text/javascript" src="../../base/js/base.config.js"></script>
<script>document.write("<script type='text/javascript' src='../res/js/bill/billContract.js?t=" + Date.now() + "'><\/script>");</script>
</html>