<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>通宝开立</title>
    <link rel="stylesheet" href="../../base/css/iconfont.css" />
    <link rel="stylesheet" href="../../base/css/base.css" />
    <link rel="stylesheet" href="../../base/css/module.css" />
    <link rel="stylesheet" href="../res/css/skin.css" />
    <link rel="stylesheet" href="../res/css/data-page.css" />
</head>
<body class="g-navbar-fixed">
<div class="g-navbar g-navbar-fixed-top">
</div>
<div class="g-page-container">
    <div class="g-page-main-detail">
        <div class="g-container">
            <div class="g-row">
                <div class="g-tabs">
                    <ul class="g-bigTab addGrayLine">
                        <li class="g-nav-tabs-li"><a href="javascript:;">凭证信息</a></li>
                        <li class="g-nav-tabs-li active"><a href="javascript:;">贸易背景</a></li>
                    </ul>
                    <div class="g-tab-content">
                        <div class="g-tab-main active">
                            <div class="g-small-head-title mar-top-10">
                                <span class="col33"> 通宝编号：<span id="billNo"></span></span>
                                <a class="col60 g-font12 a-label mar-left-5" href="javascript:;" id="billStatus"></a>
                                <span class="g-font12 col60 g-date mar-left-10">开立日期: <span id="createDate"></span> </span>
                            </div>
                            <div class="mar-top-10 g-new-table hashCode_bg">
                                <div class="g-list-content">
                                    <div class="g-left tit">开立方公司名称</div>
                                    <div class="g-left con" id="createCompany"></div>
                                    <div class="g-left tit">接收方公司名称</div>
                                    <div class="g-left con border-right" id="receivingCompany"></div>
                                </div>
                                <div class="g-list-content">
                                    <div class="g-left tit">开立方税号</div>
                                    <div class="g-left con" id="createTaxNum"></div>
                                    <div class="g-left tit">接收方税号</div>
                                    <div class="g-left con border-right" id="recevTaxNum"></div>
                                </div>
                                <div class="g-list-content">
                                    <div class="g-left tit">开立金额</div>
                                    <div class="g-left con max-con border-right maincol" id="createNum"></div>
                                </div>
                                <div class="g-list-content">
                                    <div class="g-left tit">兑付日期</div>
                                    <div class="g-left con" id="cashDate"></div>
                                    <div class="g-left tit">接收日期</div>
                                    <div class="g-left con border-right" id="recevDate"></div>
                                </div>
                                <div class="g-list-content">
                                    <div class="g-left tit">区块链存证编号</div>
                                    <div class="g-left con max-con border-right" id="hashCode"></div>
                                </div>
                                <div class="g-list-content">
                                    <div class="g-left tit">时间戳</div>
                                    <div class="g-left con max-con border-right" id="timeStamp"></div>
                                </div>
                                <div class="g-list-content">
                                    <div class="g-left tit">经办员</div>
                                    <div class="g-left con border-bottom" id="createMember"></div>
                                    <div class="g-left tit">审核员</div>
                                    <div class="g-left con border-bottom border-right" id="passMember"></div>
                                </div>
                            </div>
                            <div id="print-wrap" class="col-xs-12 mar-bottom-20 mar-top-20 g-text-center">

                            </div>
                        </div>
                        <div class="g-tab-main">
                            <table class="mar-top-10 g-new-table">
                                <tbody>
                                <tr class="g-list-content">
                                    <td class="tit">贸易合同编号</td>
                                    <td style="word-break: break-all;" class="con contractNumber "></td>
                                    <td class="tit">贸易合同名称</td>
                                    <td style="word-break: break-all;" class="con border-right contractName "></td>
                                </tr>
                                <tr class="g-list-content">
                                    <td class=" tit">签订金额</td>
                                    <td style="word-break: break-all;" class=" con contractAmount"></td>
                                    <td class=" tit">签订日期</td>
                                    <td style="word-break: break-all;" class=" con border-right contractDate"></td>
                                </tr>
                            </table>
                            <table class="mar-bottom-15 g-new-table">
                                <tbody>
                                <tr class="g-list-content">
                                    <td class="tit">附件下载</td>
                                    <td style="width: 850px;border-top:1px solid #f0f0f0;" class="border-bottom border-right">
                                        <div  id="upload-con"></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="g-table-detail">
                                <thead>
                                <tr>
                                    <th>发票代码</th>
                                    <th>发票号码</th>
                                    <th>开票日期</th>
                                    <th>发票税率</th>
                                    <th>发票含税金额</th>
                                    <th>本次使用金额</th>
                                    <th>购买方/销售方</th>
                                    <th>附件</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <!--<tr>-->
                                        <!--<td class="g-text-center">R18025635214789</td>-->
                                        <!--<td class="g-text-center">55546166465</td>-->
                                        <!--<td class="g-text-center">2018-05-30</td>-->
                                        <!--<td class="g-text-center">17%</td>-->
                                        <!--<td class="g-text-center maincol">1,800,00</td>-->
                                        <!--<td class="g-text-center">上海欧冶金融股份有限公司<br>-->
                                            <!--上海欧冶金融股份有限公司-->
                                        <!--</td>-->
                                        <!--<td class="g-text-center"><a class="underline" href="">下载</a></td>-->
                                    <!--</tr>-->


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../../base/js/core/es5-shim.min.js"></script>
<script type="text/javascript" src="../../base/js/core/require.js"></script>
<script type="text/javascript" src="../../base/js/base.config.js"></script>
<script>document.write("<script type='text/javascript' src='../res/js/bill/billIssueDetail.js?t=" + Date.now() + "'><\/script>");</script>
</html>