<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>平台合作协议</title>
    <link rel="stylesheet" href="../../base/css/iconfont.css"/>
    <link rel="stylesheet" href="../../base/css/base.css"/>
    <link rel="stylesheet" href="../../base/css/module.css"/>
    <link rel="stylesheet" href="../res/css/skin.css"/>
    <link rel="stylesheet" href="../res/css/data-page.css"/>
</head>
<body class="g-navbar-fixed contract">
<div class="g-navbar g-navbar-fixed-top">
</div>
<div class="ui-page-noshadow"></div>
<div class="g-page-container">
    <div class="top-fixed-tab">
        <ul class="g-bigTab">
            <li class="g-nav-tabs-li isdownload"><a href="javascript:;">平台合作协议</a></li>
            <li class="g-nav-tabs-li"><a href="javascript:;">代付业务服务协议</a></li>
        </ul>

    </div>
    <div class="g-page-main-detail">
        <!--startprint1-->
        <div class="g-container">
            <div class="g-row">
                <div class="g-tabs">
                    <div class="g-tab-content">
                        <div class="g-tab-main">
                            <div class="mar-top-20">
                                <table class="document-table" >
                                    <tbody>
                                    <tr><td class="g-text-center g-font22 pad-bottom-10 pad-top-10 g-bold">平台合作协议</td></tr>
                                    <tr><td class="g-bold g-right">协议编号：<span id="contractNumber"></span></td></tr>
                                    <tr><td class="g-bold">重要提示：</td></tr>
                                    <tr><td class="g-bold">1.	本协议由您公司（本协议“乙方”）通过数字证书与平台经营者（平台网址：https://tongbao.ouyeelf.com）上海欧冶金融信息服务股份有限公司通过平台在线缔结，本协议具有合同法上的法律效力，您可登陆平台查阅、下载本协议文本。</td></tr>
                                    <tr><td class="g-bold">2.	在签订本协议前，请您务必审慎阅读本协议全部内容，尤其是字体加粗部分。如您对本协议内容或页面提示信息有疑问，请勿进行下一步操作并可向平台进行咨询。您通过平台页面使用数字证书点击“同意并继续”按钮即表示您已充分理解并同意遵守本协议全部内容。</td></tr>
                                    <tr><td class="g-bold">3.	甲方作为平台经营者，为通宝业务提供技术支持、金融信息及运营管理等信息服务，您对于通宝的使用系您基于与交易相对方之间真实债权债务关系而作出的独立判断和处分行为，甲方不对通宝的兑付做任何承诺与保证，对此不承担任何责任。</td></tr>

                                    <tr><td style="line-height:20px;">&nbsp;</td></tr>
                                    <tr><td class="g-bold">甲方：<span>上海欧冶金融信息服务股份有限公司</span></td></tr>
                                    <tr><td>统一社会信用代码：<span id="transferCode"></span></td></tr>
                                    <tr><td>或税号：<span id="transTaxNum"></span></td></tr>
                                    <tr><td style="line-height:20px;">&nbsp;</td></tr>
                                    <tr><td class="g-bold">乙方/开立方：<span id="receiveSide"></span></td></tr>
                                    <tr><td>统一社会信用代码：<span id="receiveCode"></span></td></tr>
                                    <tr><td>或税号：<span id="receiveTaxNum"></span></td></tr>
                                    <tr><td style="line-height:20px;">&nbsp;</td></tr>
                                    <tr><td class="g-font18">鉴于：</td></tr>
                                    <tr><td>&nbsp;&nbsp;&nbsp;甲方运营的平台可为乙方开立通宝并进行承兑提供服务，双方根据中华人民共和国相关法律、法规，本着自愿、平等、互利、诚信的原则，就通宝业务涉及的开立、兑付等事宜，在上海市宝山区于<span class="year underline"  style="min-width: 50px"></span>年<span class="month underline"  style="min-width: 50px"></span>月<span style="min-width: 50px" class="day underline" ></span>日达成如下协议：</td></tr>
                                    <tr><td align="center" class="g-bold g-font18">第一部分  总则</td></tr>
                                    <tr><td class="g-bold">第一条. 定义</td></tr>
                                    <tr><td>1.	平台：指甲方及相关合作机构利用区块链等技术，开发并运营的专门用于办理通宝业务并提供通宝管理、流转、融资与资金结算等服务的互联网金融服务平台。</td></tr>
                                    <tr><td>2.	东方付通账户：指平台用户在第三方支付公司东方付通信息技术有限公司（以下简称“东方付通”）开立的支付账户，用于办理通宝业务相关的资金收付结算等业务。</td></tr>
                                    <tr><td>3.	通宝：指开立方通过平台开立的，基于开立方与接收方之间真实贸易合同关系和债权债务关系的应收账款的债权凭证，可以进行拆分、流转、融资。</td></tr>
                                    <tr><td>4.	开立方：指因购买商品或服务而承担贸易合同项下付款义务，通过平台向接收方开立通宝，并承诺于兑付日对通宝接收方/受让方/最终持有人按照平台记录的通宝流转与持有情况无条件付款的应收账款债务人。乙方为本协议项下的开立方。</td></tr>
                                    <tr><td>5.	接收方：指通宝开立方的贸易合同相对方，因销售商品或服务而享有相关贸易合同项下的应收账款债权，通过平台取得开立方开立的通宝。</td></tr>
                                    <tr><td>6.  转出方：指持有通宝，并将通宝项下享有的对于开立方的债权，转让给与其具有真实贸易合同关系的供应商，作为相关贸易合同项下相应付款义务履行方式的企业。接收方转让其持有通宝项下债权的，亦为“转出方”。</td></tr>
                                    <tr><td>7.	受让方：指与转出方签署贸易合同且已完全履行交付义务的相对方，同意通过通宝在平台的流转受让转出方转让的针对开立方的债权，视作转让方在相关贸易合同项下相应付款义务已履行。</td></tr>
                                    <tr><td>8.	开立金额：指经开立方和接收方确认，开立方根据其与接收方的贸易合同项下的应付账款金额选择于平台最终开立通宝的金额。</td></tr>
                                    <tr><td>9.	兑付日：指开立方根据自身付款情况，在开立通宝时设定的最终付款日期，原则上兑付日应早于开立方与接收方订立的贸易合同项下的付款日，并且应为工作日。</td></tr>
                                    <tr><td>10.	最终持有人：指通宝流转过程中的最后一手，持有通宝并在兑付日前不再进行融资、转让的权利人。</td></tr>
                                    <tr><td>11.	融资平台：指甲方运营的在线金融服务系统（网址：https://rz.ouyeelf.com），可提供融资的申请、发放渠道及偿还本息等服务。</td></tr>
                                    <tr><td align="center" class="g-bold g-font18">第二部分  流程</td></tr>
                                    <tr><td class="g-bold">第二条. 通宝的开立</td></tr>
                                    <tr><td class="g-bold">1.	乙方在与通宝接收方形成真实贸易合同关系和债权债务关系，并认可接收方在相关合同项下的服务/供货等所有合同义务已全部履行完毕，合同约定的付款条件已成就且乙方与接收方已对债权债务金额予以确认后，方可通过平台开立通宝。</td></tr>
                                    <tr><td>2.	乙方在开立通宝时应根据甲方要求提交相关贸易背景资料和开立信息,此类信息包括但不限于基础贸易合同、单据与发票信息。此外，甲方为平台业务开展之需要，或为协助通宝持有方进行保理融资、协助资金方对保理融资申请进行尽职审核和专业判断之需要，可以要求乙方提供有关企业经营与应收账款的其他信息，包括但不限于企业经营及财务状况、行业交易商品及贸易习惯、与“通宝”业务相关的交易、物流、授信、客商异动等信息等。乙方承诺在甲方提出要求后提供相关信息。甲方将对乙方提供的信息进行形式审查。</td></tr>
                                    <tr><td>3.	乙方通过平台开立通宝时，平台自动对其开立的通宝进行编号，用于在办理通宝业务时对通宝进行具体指向。</td></tr>
                                    <tr><td>4.  乙方开立通宝后，应当会同通宝接收方配合欧冶商业保理有限责任公司（以下简称“欧冶保理”）就通宝项下的应收账款债权在中国人民银行征信中心动产融资统一登记平台办理应收账款登记，并根据欧冶保理的要求配合提供应收账款所对应的合同、发票以及其他办理登记所必需的业务资料。</td></tr>
                                    <tr><td>5.  为保证通宝如期兑付，乙方在通宝开立阶段应当按照开立金额的<span class="underline" style="min-width: 50px;">0%</span>交纳保证金，保证金由东方付通托管。</td></tr>
                                    <tr><td>6.  乙方不得利用通宝业务的特点，通过伪造贸易合同、伪造物流与资金流业务材料、虚开发票等行为虚开通宝。如经平台查证，乙方基于虚假交易开立通宝，则平台有权注销该通宝、暂停乙方的交易资格、没收保证金，并保留追究乙方相应的法律责任的权利。</td></tr>
                                    <tr><td class="g-bold">第三条. 通宝开立额度</td></tr>
                                    <tr><td>1.	乙方的通宝开立额度由甲方根据相应标准进行评估后确定，甲方有权对乙方的开立额度进行不定期的重新评估和调整。乙方在平台中开立通宝额度不得超过甲方对乙方评估设定的开立额度。</td></tr>
                                    <tr><td>2.	乙方可通过平台查看甲方为乙方设定的开立额度。</td></tr>
                                    <tr><td class="g-bold">第四条. 账户设置</td></tr>
                                    <tr><td>1.	乙方在东方付通信息技术有限公司（“<span class="g-bold">东方付通</span>”）开立第三方支付账户，用于办理通宝业务相关的资金收付清算等业务。</td></tr>
                                    <tr><td class="g-bold">2.	乙方不可撤销地授权东方付通根据平台/甲方的指令对乙方东方付通支付账户进行资金的扣划、锁定和解锁等操作，乙方不另行出具授权书。</td></tr>
                                    <tr><td><span class="g-bold">3. 乙方开立通宝阶段的保证金应交纳至乙方在东方付通开立的账户，乙方同意由东方付通进行锁定、监管，并根据甲方指令进行划扣。</span></td></tr>
                                    <tr><td>4. 如乙方退出平台交易、注销平台账号，剩余保证金由东方付通根据甲方的指令无息返还。</td></tr>
                                    <tr><td class="g-bold">第五条. 通宝的兑付</td></tr>
                                    <tr><td class="g-bold">1.	乙方在平台中开立通宝的行为，表明乙方对通宝接收方/受让方/最终持有人无条件承诺付款，同时认可通宝在平台中被拆分、流转以及用于融资情形下的效力。乙方不可撤销地承诺将按照通宝项下的开立金额，通过东方付通在乙方设定的兑付日期前履行对于最终持有人的付款义务。</td></tr>
                                    <tr><td><span class="g-bold">2. 转出方进行通宝转让时，通过平台向乙方平台账号发送通宝转让通知（即债权转让通知），乙方认可该等债权转让通知对其生效的效力。</span> 在通宝兑付日期前一工作日，乙方可在平台中查看通宝兑付明细。</td></tr>
                                    <tr><td>3. 乙方同意在其逾期兑付通宝的情况下，甲方有权要求东方付通直接划扣保证金，先行对通宝持有人进行兑付。如发生逾期兑付通宝的情况，平台有权禁止乙方继续开展开立通宝、流转其持有的其他开立方开立的通宝及使用其持有的其他开立方开立的通宝进行融资等业务，并冻结其持有的其他开立方开立的通宝的兑付功能。前述逾期兑付通宝是指开立方于兑付日未按照到期平台用户持有通宝的记录、平台在线规则的规定及相关协议文本的约定进行足额兑付的情形。</td></tr>
                                    <tr><td>4. 甲方作为平台经营者，为通宝业务提供技术支持、金融信息及运营管理等信息服务。乙方确认，甲方不对乙方的付款义务或任何形式的损害赔偿义务承担担保或保证责任。如果乙方出现信用违约情况，可能无法于付款日获得相应应收款，从而致使通宝接受方或通宝受让方受到损失，乙方承诺就上述付款义务及损害赔偿义务承担所有责任，并确保甲方不承担任何形式的责任。</td></tr>

                                    <tr><td align="center" class="g-bold g-font18">第三部分  权利与义务</td></tr>
                                    <tr><td class="g-bold">第六条. 甲方权利和义务</td></tr>
                                    <tr><td>1.	甲方负责平台的运营、管理与维护，本协议签订后根据乙方提交的相关资料在平台中建立乙方的用户信息，甲方为乙方提供平台的各项业务功能，并通过东方付通为乙方提供资金结算服务。</td></tr>
                                    <tr><td>2.	甲方有权对提供给乙方使用的平台功能进行配置，并有权根据平台运营情况对具体功能配置进行调整，甲方在进行功能配置及调整时可通过平台网站公告等方式对乙方作必要的解释与说明。</td></tr>
                                    <tr><td>3.	甲方在平台利用区块链等技术为乙方签发的通宝提供开立信息登记等服务，保证乙方通过平台开立的通宝信息不会被伪造或篡改。</td></tr>
                                    <tr><td class="g-bold">4.	若乙方开立的通宝发生到期未足额兑付等违约行为，或甲方发现乙方存在异常操作等甲方认为有可能对平台运营造成不良影响的情形时，甲方有权暂停或终止为乙方提供平台及相关系统服务。</td></tr>
                                    <tr><td>5.	甲方有权根据业务调整需要暂停或终止提供通宝业务服务或某项业务功能，但应提前通过平台网站公告等方式告知乙方。甲方暂停或终止提供通宝业务服务或相关业务功能的，不影响乙方已开立通宝项下的合同义务，乙方仍应按时足额进行通宝兑付。</td></tr>
                                    <tr><td>6.	甲方有权根据乙方资信等情况，要求乙方为其开立的通宝提供担保等风险缓释措施，用于保证其开立通宝的到期付款。</td></tr>
                                    <tr><td>7.	甲方有权根据乙方生产经营情况对乙方的通宝开立额度进行不定期的评估和调整。</td></tr>
                                    <tr><td>8.	甲方有权对乙方在平台中开立通宝时上传的相关贸易背景资料进行必要的审查。</td></tr>
                                    <tr><td class="g-bold">第七条. 乙方权利和义务</td></tr>
                                    <tr><td>1.	乙方有权依据本协议约定，使用平台相关服务。乙方保证遵守国家相关法律、法规，并保证遵守平台网站不时公示的各项具体业务规则。乙方保证在签订本协议及通过平台开立通宝时已取得合法有效的内部授权。</td></tr>
                                    <tr><td>2.	乙方保证在签订本协议及通过平台开立通宝时已取得合法有效的内部授权。<span class="g-bold">乙方应妥善保管其平台账户、密码、数字证书等用于识别用户身份的信息要素，一切在平台使用乙方平台账户、密码、数字证书等进行的操作均代表乙方行为，乙方承担通过该等身份要素向平台发送的操作指令所带来的一切法律后果。</span></td></tr>
                                    <tr><td>3.	乙方通过融资平台、东方付通等甲方合作渠道办理通宝业务时，须遵守合作渠道的相关规定。</td></tr>
                                    <tr><td>4.	乙方通过平台开立通宝时应遵循“诚实信用”的原则，<span class="g-bold">乙方应对其开立的通宝项下的贸易背景的真实性、合法性、有效性承担全部责任，并保证在平台提交的贸易背景资料及开立信息均真实、准确、完整。</span>乙方不得通过伪造贸易合同、伪造物流和/或资金流业务材料、虚开发票等虚假行为开立通宝，否则甲方有权注销该通宝、暂停乙方的交易资格、没收保证金，并保留追究乙方相应的法律责任的权利。</td></tr>
                                    <tr><td>5.	乙方保证在通宝兑付日期前一工作日，在其东方付通账户内备足付款资金，<span class="g-bold">并不可撤销地授权平台/甲方按最终持有人详情生成代扣支付指令发送至东方付通，东方付通根据支付指令自乙方东方付通账户进行兑付资金代扣并执行支付结算等操作。</span></td></tr>
                                    <tr><td>6.	乙方发生兼并、分立、重组、财产被查封等可能影响通宝到期付款的情形时，应在三个工作日内以书面形式通知甲方，并做好补救措施。</td></tr>
                                    <tr><td class="g-bold">7.	若乙方开立的通宝被用于融资，乙方理解并同意甲方将乙方在平台提供、形成的相关信息、签订的相关协议传递给融资机构或相关服务提供者，以作为该等机构是否提供相关服务的依据。</td></tr>
                                    <tr><td class="g-bold">8.	乙方同意通宝在流程过程中，甲方可通过站内信的方式，向乙方送达通宝转出方的债权转让通知书。站内信发送至乙方的账号，则视为债权转让通知书已经送达，乙方已经知晓该债权转让行为，并同意按照流转后的通宝所载明的信息如期向通宝受让方全额兑付。</td></tr>

                                    <tr><td align="center" class="g-bold g-font18">第四部分  其他</td></tr>
                                    <tr><td class="g-bold">第八条. 权利保留</td></tr>
                                    <tr><td>1.	一方若未行使本协议部分或全部权利，或未要求另一方履行、承担部分或全部义务、责任，并不构成该方对该权利的放弃或对该义务、责任的豁免。</td></tr>
                                    <tr><td>2.	一方对另一方的任何宽容、展期或者延缓行使本协议项下的权利，均不影响其根据本协议及法律、法规而享有的任何权利，亦不视为其对该权利的放弃。</td></tr>
                                    <tr><td class="g-bold">第九条. 变更、修改、终止与部分无效</td></tr>
                                    <tr><td>1.	本协议经双方协商一致，可以书面形式进行变更或修改，任何变更或修改均构成本协议不可分割的组成部分。</td></tr>
                                    <tr><td>2.	除法律、法规另有规定或当事人另有约定外，本协议之权利义务全部履行完毕前不得终止。</td></tr>
                                    <tr><td>3.	除法律、法规另有规定或当事人另有约定外，本协议任何条款的无效均不影响其他条款的法律效力。</td></tr>
                                    <tr><td class="g-bold">第十条. 法律适用、争议解决</td></tr>
                                    <tr><td>1.	本协议适用中华人民共和国法律。</td></tr>
                                    <tr><td>2.	在本协议生效后，因订立、履行本协议所发生的或与本协议有关的一切争议，双方可协商解决。协商不成的，应提交上海仲裁委员会按照该会仲裁规则进行仲裁。仲裁裁决是终局的，对双方均有约束力。</td></tr>
                                    <tr><td>3.	在争议解决期间，若该争议不影响本协议其他无争议条款的履行，则该等其他条款应继续履行。</td></tr>
                                    <tr><td class="g-bold">第十一条. 其他约定</td></tr>
                                    <tr><td>1、	在不影响本协议其他约定的情形下，本协议对双方及各自依法产生的承继人和受让人均具有法律约束力。</td></tr>
                                    <tr><td>2、	本协议中的标题和业务名称仅为指代的方便而使用，不得用于对条款内容及双方权利义务的解释。</td></tr>
                                    <tr><td>3、	甲方因法律法规、监管规定变化或者监管部门要求，不能履行本协议或不能按本协议约定履行的，甲方有权终止或依据法律法规、监管规定变化或监管部门要求变更履行本协议。因该种原因致本协议终止或变更履行的，甲方免除责任。</td></tr>
                                    <tr><td>4、	<span class="g-bold">本协议自乙方于平台点击确认并生成有效的电子签名签署之日起生效。</span></td></tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="g-tab-main">
                            <div style=" margin: 40px auto; background: #fff;">
                                <table width="100%" style="font-size: 14px; line-height: 2; border: 0; border-collapse: collapse;">
                                    <tbody>
                                    <tr>
                                        <td style="padding:5px 10px; font-size: 22px; text-align: center;font-weight:bold;">代付业务服务协议
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:2em;">本《代付业务服务协议》(“<span class="g-bold">本协议</span>”)由以下双方于<span class="year underline" style="min-width: 50px"></span>年<span class="month underline" style="min-width: 50px"></span>月<span style="min-width: 50px" class="day underline" ></span>日在上海市签署：</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; font-weight:bold; text-indent:2em;">甲方：<span
                                                class="js-customerName"
                                                style="border-bottom:1px solid #333; text-align:center; min-width:200px; display:inline-block; line-height:1; text-indent:0; padding:0 5px 5px;">东方付通信息技术有限公司&nbsp;</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:2em;">联系地址：<span style="margin-left:20px">上海市宝山区漠河路600号A座3楼</span></td>
                                    </tr>
                                    <tr>
                                        <td style=" line-height:20px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; font-weight:bold; text-indent:2em;">乙方：<span id="yiAddress"
                                                style="border-bottom:1px solid #333; min-width:200px; text-align:center; display:inline-block; line-height:1; padding:0 5px 5px; text-indent:0;"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:2em;">联系地址：<span  class="js-addressAndPostCode"
                                                                                                  style="border-bottom:1px solid #333; text-align:center; min-width:200px; display:inline-block; line-height:1; padding:0 5px 5px; text-indent:0;">&nbsp;</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style=" line-height:20px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:2em;">鉴于：</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:2em;">
                                            乙方在上海欧冶金融信息服务股份有限公司运营的平台（平台网址：https://tongbao.ouyeelf.com，简称“<span style="font-weight: bold;">平台</span>”）开展通宝业务，甲方为为通宝业务提供支付服务的第三方支付公司。甲乙双方在遵循中华人民共和国相关法律法规、中国人民银行等国家机关、监管机构相关规定以及东方付通业务规则的前提下，在自愿、平等、互利的基础上，经友好协商，就开展付款业务达成一致，特签订本协议。
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding:5px 15px; font-weight:bold; text-align:center;">第一条 合作内容</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:2em;">
                                            甲方向乙方提供代付业务，帮助乙方实现付款需求。乙方授权平台向甲方发出付款交易指令，由甲方根据指令内容代乙方向指定的东方付通账户支付款项。</td>
                                    </tr>

                                    <tr>
                                        <td style="padding:5px 15px; font-weight:bold; text-align:center;">第二条 交易流程</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:2em;"><span class="g-bold">（一）账户开立</span>：乙方确认已于本协议签署前，于甲方开展第三方支付业务的网站或客户终端注册为会员，并且开立了东方付通支付账户。</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:2em;">
                                            <span class="g-bold">（二）交易发起</span>：基于通宝业务，乙方不可撤销地授权甲方根据平台的代付指令将乙方东方付通账户内资金划付至指定收款方东方付通账户。
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:2em;">
                                            甲方根据平台的付款指令，扣划乙方东方付通账户内的款项，并将交易处理结果反馈乙方和平台。
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:2em;"><span class="g-bold">（三）资金清算</span>：如无异常情况，甲方应于平台代付指令发出之日(“T日”)当日将代付资金支付至指定收款方东方付通账户，即资金清算日为“T+0”日。</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:2em;"><span class="g-bold">（四）异常处理</span></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:4em;">1、甲、乙双方中任意一方发现代付异常事件时，应及时通知对方，并积极配合，共同实施应急处理。
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:4em;">
                                            2、本协议所称代付异常事件是指非甲方操作人员差错导致的无法及时、准确划付乙方资金的情形，包含但不限于：外部支付系统故障，甲方系统故障，乙方付款资金未及时到账等原因导致甲方无法完成代付交易。
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:4em;">
                                            3、代付异常事件导致甲方无法于约定时间完成付款的，由甲方于次工作日完成划付或由甲、乙及平台方协商解决。</td>
                                    </tr>
                                    <tr>
                                        <td class="g-bold" style="padding:5px 15px; font-weight:bold; text-align:center;">第三条 双方责任</td>
                                    </tr>
                                    <tr>
                                        <td class="g-bold" style="padding:5px 15px; text-indent:2em;">（一）甲方责任</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:4em;">
                                            1、甲方对乙方身份资料及支付信息负有保密义务，不得利用乙方的上述信息从事超出法律许可或未经乙方授权的活动。</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:4em;">2、甲方应确保按照本协议约定对交易资金安全存放和准确及时划转，应准确、及时将平台发来代付请求传递给银行并应将银行对该请求的应答准确、及时传递至平台与乙方。</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:4em;">
                                            3、无异常事件发生时，甲方应保证支付的准确无误（与平台发送的付款指令一致）。甲方因操作人员工作差错错误支付的，由甲方负责差错调整，并不得就调整差错向乙方收取服务手续费。</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:4em;">
                                            4、代付异常事件发生时，甲方免于承担责任，但应及时告知乙方和平台方。</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:4em;">
                                            5、因平台方提供代付指令不准确（包括但不限于指令错误、重复、缺失等）导致付款资金到账错误或延迟的，甲方不承担责任，乙方自行与平台方协商处理。</td>
                                    </tr>
                                    <tr>
                                        <td class="g-bold" style="padding:5px 15px; text-indent:2em;">（二）乙方责任</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:4em;">
                                            1、乙方应如实向甲方提供相关经营资质资料，并在该资料发生变更后七个工作日内书面通知甲方，包括但不限于统一社会信用代码证、开户许可证、法定代表人身份证明、公司业务介绍、联系邮箱等，若从事国家规定专营、专控或需要取得国家前置行政许可的经营活动，还应提供该相关资质证照。乙方承担由于其所提供的资质材料不完整、不准确、不真实等情况而导致的经济和法律方面的责任。
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:4em;">
                                            2、乙方应对付款用途真实性、合法性负责，且不得利用甲方提供的服务直接从事或间接协助任何形式的洗钱、套现、欺诈等违法、犯罪活动。如乙方违反上述条款，将由乙方承担由此产生的一切法律后果和经济损失。
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="g-bold" style="padding:5px 15px; text-indent:2em;">（三）免责条款</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:4em;">
                                            由于不可抗力事件（包括但不限于战争、地震、火灾、支付系统故障等）引起的头寸不足、清算信息差错、延误等，双方均免于承担责任。</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; font-weight:bold; text-align:center;">第四条 违约责任</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:2em;">
                                            除本协议另有约定外，任何一方违反本协议约定，守约方有权要求违约方在指定时间内纠正其违约行为；如违约方在指定时间内仍未纠正其违约行为，守约方有权单方解除本协议，并要求违约方赔偿经济损失。
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; font-weight:bold; text-align:center;">第五条 其他事项</td>
                                    </tr>
                                    <tr>
                                        <td class="g-bold" style="padding:5px 15px; text-indent:2em;">
                                            1、本协议自乙方于上海欧冶金融信息服务股份有限公司运营的平台点击确认并生成有效的电子签名签署后生效。</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:2em;">2、本协议未明事项以双方签订的《东方付通互联网支付会员服务协议》为准。</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 15px; text-indent:2em;">3、在本协议生效后，因订立、履行本协议所发生的或与本协议有关的一切争议，双方可协商解决。协商不成的，均应提交上海仲裁委员会，按照该会仲裁规则进行仲裁。仲裁裁决是终局的，对当事人均有约束力。</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--endprint1-->
    </div>
    <div class="ui-page-confirm">

    </div>
</div>
</div>

</body>
<script type="text/javascript" src="../../base/js/core/es5-shim.min.js"></script>
<script type="text/javascript" src="../../base/js/core/require.js"></script>
<script type="text/javascript" src="../../base/js/base.config.js"></script>
<script>document.write("<script type='text/javascript' src='../res/js/bill/billContract.js?t=" + Date.now() + "'><\/script>");</script>
</html>